<!DOCTYPE html>
<html>
<head>
    <title>Student Page</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">

    <header>
        <p>Welcome Student!</p>
        <h1>ACME University</h1>
        <a href="/logout">Sign out</a>
    </header>

    <div class="tab-box">

        <div class="tabs">
            <div class="tab active">
                Your Courses
            </div>

            <div class="tab">
                Add Courses
            </div>
        </div>

        <div class="tab-content">

            <h3>Your Current Courses</h3>

            <table>
                <tr>
                    <th>Course Name</th>
                    <th>Teacher</th>
                    <th>Time</th>
                    <th>Students Enrolled</th>
                    <th>Action</th>
                </tr>

                {% for course in courses %}
                    {% if course.id in enrolled_ids %}
                    <tr>
                        <td>{{ course.name }}</td>
                        <td>{{ course.teacher }}</td>
                        <td>{{ course.time }}</td>
                        <td>{{ course.enrollments|length }}/{{ course.capacity }}</td>
                        <td>
                            <a class="drop" href="/drop_course/{{ course.id }}">
                                Drop
                            </a>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>

            <br><br>

            <h3>Add Courses</h3>

            <table>
                <tr>
                    <th>Course Name</th>
                    <th>Teacher</th>
                    <th>Time</th>
                    <th>Students Enrolled</th>
                    <th>Action</th>
                </tr>

                {% for course in courses %}
                    {% if course.id not in enrolled_ids %}
                    <tr>
                        <td>{{ course.name }}</td>
                        <td>{{ course.teacher }}</td>
                        <td>{{ course.time }}</td>
                        <td>{{ course.enrollments|length }}/{{ course.capacity }}</td>

                        <td>
                            {% if course.enrollments|length >= course.capacity %}
                                <span class="full">Full</span>
                            {% else %}
                                <a class="add" href="/add_course/{{ course.id }}">
                                    Add
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>

        </div>

    </div>

</div>

</body>
</html>